include description.pug
include type.pug

mixin event(t)
  h3(id=`struct-${t.name}`)=t.name
    a.anchor(href=`${navPath}#struct-${t.name}`)
  p!=t.description
  ul.struct-def
    if t.params
      each param in t.params
        li.type(id=`param-${t.name}-${param.name}`)
          strong=param.name
          a.anchor(href=`${navPath}#param-${t.name}-${param.name}`)
          code
            +type(param.type)
          +description(param.description)
