include description.pug
include type.pug

mixin method(t, relatedTypes)
  h3(id=`struct-${t.name}`)=`${t.name}(`
    if t.params
      each param, idx in t.params
        a(href=`${navPath}#param-${t.name}-${param.name}`)=param.name
        if idx < t.params.length - 1
          |, 
    |)
    a.anchor(href=`${navPath}#struct-${t.name}`)
  p!=t.description
  ul.struct-def
    if t.params
      each param in t.params
        li.type(id=`param-${t.name}-${param.name}`)
          strong=param.name
          a.anchor(href=`${navPath}#param-${t.name}-${param.name}`)
          code
            +type(param.type, relatedTypes)
          +description(param.description)
