extends ../archetypes/content-with-menu.pug

include ../mixins/nav.pug

block navigation
  - var headings = [{tag: 'h2', id:'description', text: 'Description'}, {tag: 'h2', id:'proptypes', text: 'Props'}, {tag: 'h2', id:'theme', text: 'Classnames'},{tag: 'h2', id:'translation', text: 'Translation keys'}, {tag: 'h2', id:'example', text: 'Example'}, {tag: 'h2', id:'live', text: 'See it live'}];
  +nav(navPath, navigation, title, headings)

block content
  h2#description Description
    a.anchor(href='#description')
  p!=h.markdown(description)
  h2#proptypes Props
    a.anchor(href='#proptypes')
  if proptype
    p List of props exposed by the   
      code=name
      |  widget
    table.api.proptypes
      tbody
        each type in proptype
          tr.api-entry-values
            td.api-entry-name
              div.api-entry(id=`default-props-entry-${name}-${type.name}`)=type.name
                a.anchor(href=`#default-props-entry-${name}-${type.name}`)
            td.api-entry-type
              code=type.type
            td.api-entry-default-value
              if type.defaultValue
                span default value:
                code=type.defaultValue
          tr.api-entry-description
            td(colspan=3)!=h.markdown(type.description)
  else
    p This widget does not accept props.
  h2#theme Classnames
    a.anchor(href='#classnames')
  if themekey
    table.api
      tbody
        each type in themekey
          tr.api-entry-values
            td.api-entry-name
              - var themeId = `default-theme-entry-${name}-${type.key}`;
              div.api-entry(id=themeId)=type.key
                a.anchor(href=`#${themeId}`)
          tr.api-entry-description
            td=type.description
  else
    p This widget does not accept theme.
  h2#translation Translation keys
    a.anchor(href='#translation')
  if translationkey
    table.api
      tbody
        each type in translationkey
          tr.api-entry-values
            td.api-entry-name
              - var themeId = `default-theme-entry-${name}-${type.key}`;
              div.api-entry(id=themeId)=type.key
                a.anchor(href=`#${themeId}`)
          tr.api-entry-description
            td=type.description
  else
    p This widget does not have translations.
  h2#example Example
    a.anchor(href='#example')
  if examples
    each example in examples
      p!=h.highlight(example, {lang: 'jsx'})
  h2#live See it live
    a.anchor(href='#live')
  if (process.env.NODE_ENV === 'development')
    p <iframe frameborder="0" height=800px width=650px src="http://localhost:6006/iframe.html?dataId=0&selectedKind=#{name}&selectedStory=default&full=0&down=1&left=0&panelRight=1&downPanel=kadirahq%2Fstorybook-addon-knobs"></iframe>
  else
    p <iframe frameborder="0" height=800px width=650px src="https://community.algolia.com/instantsearch.js/react/storybook/iframe.html?dataId=0&selectedKind=#{name}&selectedStory=default&full=0&down=1&left=0&panelRight=1&downPanel=kadirahq%2Fstorybook-addon-knobs"></iframe>
