extends ../archetypes/content-with-menu.pug

include ../mixins/nav.pug

block navigation
  - var headings=[{tag: 'h2', id:'description', text: 'Description'}, {tag: 'h2', id:'proptypes', text: 'Exposed props'}, {tag: 'h2', id:'provided-props', text: 'Provided props'}, {tag: 'h2', id:'example', text: 'Example'}]
  +nav(navPath, navigation, title, headings)

block content
  h2#description Description
    a.anchor(href='#description')
  p=description
  h2#proptypes Exposed props
    a.anchor(href='#proptypes')
  if proptype
    p These are the props exposed by the resulting Component.
    table.api.proptypes
      tbody
        each type in proptype
          tr.api-entry-values
            td.api-entry-name
              div.api-entry(id=`default-props-entry-${name}-${type.name}`)=type.name
                a.anchor(href=`#default-props-entry-${name}-${type.name}`)
            td.api-entry-type
              code=type.type
            td.api-entry-default-value
              if type.defaultValue
                span default value: 
                code=type.defaultValue
          tr.api-entry-description
            td(colspan=3)=type.description
  else
    p This connector does not expose external props.
  h2#provided-props Provided props
    a.anchor(href='#provided-props')
  if providedproptype
    p These are the props that the wrapped Component will receive.
    table.api.proptypes
      tbody
        each type in providedproptype
          tr.api-entry-values
            td.api-entry-name
              div.api-entry(id=`default-props-entry-${name}-${type.name}`)=type.name
                a.anchor(href=`#default-props-entry-${name}-${type.name}`)
            td.api-entry-type
              code=type.type
            td.api-entry-default-value
              if type.defaultValue
                span default value: 
                code=type.defaultValue
          tr.api-entry-description
            td(colspan=3)=type.description
  else
    p This connector does not provided props to its wrapped Component.
  h2#example Example
    a.anchor(href='#example')
  if examples
    each example in examples
      p!=h.highlight(example, {lang: 'jsx'})
