/* global instantsearch */

const search = instantsearch({
  appId: '{{appId}}',
  apiKey: '{{apiKey}}',
  indexName: '{{indexName}}',
});

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#searchbox',
    autofocus: false,
    {{#if searchPlaceholder}}
    placeholder: '{{searchPlaceholder}}',
    {{/if}}
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    {{#if attributesToDisplay}}
    templates: {
      item: `
        <article>
          <h1>\{{{_highlightResult.{{attributesToDisplay.[0]}}.value}}}</h1>
          {{#each attributesToDisplay}}
          {{#unless @first}}
          <p>\{{{_highlightResult.{{this}}.value}}}</p>
          {{/unless}}
          {{/each}}
        </article>
      `,
    },
    {{/if}}
  })
);

{{#each attributesForFaceting}}
search.addWidget(
  instantsearch.widgets.refinementList({
    container: '#{{this}}-list',
    attributeName: '{{this}}',
  })
);

{{/each}}
search.addWidget(
  instantsearch.widgets.pagination({
    container: '#pagination',
  })
);

search.start();
