include description.pug
include type.pug

mixin struct(t, relatedTypes)
  if t.properties && t.kind !== 'external'
    h3(id=`struct-${t.name}`)=t.name
      a.anchor(href=`${navPath}#struct-${t.name}`)
    ul.struct-def
      each property in t.properties
        - var tag = t.tags.find(tag => tag.name === property.name)
        li.type(id=`struct-${t.name}-${property.name}`)
          strong=property.name
          a.anchor(href=`${navPath}#param-${t.name}-${property.name}`)
          code
            +type(property.type, relatedTypes)
          if tag && tag.default
            div.default-value
              | Default value: 
              code=tag.default
          +description(property.description)
