include description.pug
include type.pug

mixin struct(t)
  h3(id=`struct-${t.name}`)=t.name
    a.anchor(href=`${navPath}#struct-${t.name}`)
  ul.struct-def
    if t.properties
      each property in t.properties
        li.type(id=`struct-${t.name}-${property.name}`)
          strong=property.name
          a.anchor(href=`${navPath}#param-${t.name}-${property.name}`)
          code
            +type(property.type)
          +description(property.description)
