mixin widgetUsage(fnSymbol)
  - const paramTag = fnSymbol.tags.find(tag => tag.title === 'param' && tag.name === '$0');
  if paramTag && paramTag.type
    - const paramTypeName = paramTag.type.name;
    - const paramsType = fnSymbol.relatedTypes && fnSymbol.relatedTypes.find(t => t.name === paramTypeName);
    - if(!paramsType) console.log(fnSymbol.relatedTypes.map(t => t.name));
    - const properties = '\n' + paramsType.properties.map(p => `  ${p.name}: ${p.type.name}`).join(',\n');
    pre.CodeMirror.cm-s-mdn-like
      code
        span.cm-keyword const 
        span.cm-def widget 
        span.cm-operator = 
        span.cm-variable=fnSymbol.name
        | ({ !{'\n'}
        for property in paramsType.properties
          span.cm-property='  '
            a.typed-link(href=`${navPath}#struct-${paramTypeName}-${property.name}`)=property.name
          | : 
          span.cm-def
            +type(property.type)
          | , !{'\n'}
        | }: 
        span.cm-def
          +type(paramsType)
        | );
        |
        span.cm-variable instantsearch
        |.
        span.cm-property addWidget
        | (
        span.cm-variable widget
        | );
