mixin widgetCategoryShowCase(category, symbols, title)
  - const categorySymbols = symbols && symbols[category];
  if categorySymbols
    h2(id=category)=title
      a.anchor(href=`${navPath}#${category}`)
    for symbol in categorySymbols
      - const match = symbol.examples && symbol.examples.length > 0 && /container: '#(\S+)'/.exec(symbol.examples[0].description)
      h3(id=`${category}-${symbol.name}`)=symbol.name
        a.anchor(href=`${navPath}#${category}-${symbol.name}`)
      p
        a(href=`widgets/${symbol.name}.html`) Full documentation
      if(match)
        div(id=match[1]).example-tile.elevation1.radius6.p-large.pos-rel
        script!=symbol.examples[0].description
      else
        div.example-tile.elevation1.radius6.p-large.pos-rel This widget does not have a displayed output.
