nav.cm-navigation
  .cm-navigation__brands
    .cm-navigation__brands--algolia
      a#algoliaLogo(href='https://algolia.com')
        img(src="images/logo-algolia.svg", width="100", alt="Algolia logo")
    .cm-navigation__brands--community
      a.cm-badge.no-mobile(href='https://community.algolia.com', title='Click to go to community, hover to access latest community projects')
        img(src="images/logo-community.svg")
        |  <span>Community</span>
    .cm-navigation__brands--project
      a(href="") React InstantSearch
    .cm-navigation__dropdown-holder
      .cm-navigation__brands-dropdown
        .cm-navigation__brands-dropdown__container
          div(data-inject-community='')
        .cm-navigation__brands-dropdown__footer
          a(href="https://community.algolia.com")
            img(src="https://res.cloudinary.com/hilnmyskv/image/upload/v1484219849/algolia-community-logo-words.svg", class="community-logo")
  .cm-navigation__menu-mobile-trigger
    button#open-menu
      img(src="images/menu-icon.svg")
  .cm-navigation__menu
    .cm-menu__search
      .cm-menu__search--holder
        .cm-search__input
          input#searchbox(placeholder='Search something..', type='search')
          button#search
            svg
              use(xlink:href='#search-icon')
          button#cancel
            svg
              use(xlink:href='#cancel-icon')
    ul.cm-menu__list
      li.cm-menu__list__item(class=h.maybeActive(navPath, "Getting_started.html"))
        a(href="Getting_started.html", data-link = 'true') Getting started
      li.cm-menu__list__item(class=h.maybeActive(navPath, "guide/"))
        a(href="guide/", data-link = 'true') Guide
      li.cm-menu__list__item(class=h.maybeActive(navPath, ["widgets/", ["connectors/"]]))
        a(aria-controls='dropdown-1', aria-expanded='false', data-toggle-dropdown='dropdown-1', class="dropdown-toggler") API <span class="glyph">&#x25BC;</span>
        ul#dropdown-1.simple-dropdown(role='tree', tabindex='-1')
          li
            a(href="widgets/InstantSearch.html", role='treeitem', data-link = 'true') #{'<InstantSearch>'}
          li
            a(href="widgets/<Index>.html", role='treeitem', data-link = 'true') #{'<Index>'}
          li
            a(href="widgets/", role='treeitem', data-link = 'true') Widgets
          li
            a(href="connectors/", role='treeitem', data-link = 'true') Connectors
      li.cm-menu__list__item(class=h.maybeActive(navPath, "examples/"))
        a(aria-controls='dropdown-2', aria-expanded='false', data-toggle-dropdown='dropdown-2', class="dropdown-toggler") Examples <span class="glyph">&#x25BC;</span>
        ul#dropdown-2.simple-dropdown(role='tree', tabindex='-1')
          li
            a(href="examples/Demos.html", role='treeitem', data-link = 'true') Demos
          li
            a(href="examples/Recipes.html", role='treeitem', data-link = 'true') Recipes

      li.cm-menu__list__item
        a(href='https://github.com/algolia/instantsearch.js/tree/v2', data-link = 'true')
          figure.github-icon
            svg(width='40px', height='39px')
              use(xlink:href='#github-icon')
            figcaption
              | GitHub

svg(style='display: none')
  defs
    symbol#search-icon(viewbox='0 0 15 15')
      path(d='M10.052 10.88c-1.1.91-2.483 1.406-3.91 1.403C2.75 12.283 0 9.533 0 6.14 0 2.75 2.75 0 6.142 0c3.392 0 6.14 2.75 6.14 6.142 0 1.485-.526 2.847-1.403 3.91l3.95 3.95c.227.227.228.596-.002.826-.228.227-.597.228-.826 0l-3.95-3.95zm-3.91.234c2.745 0 4.972-2.227 4.972-4.972 0-2.747-2.227-4.972-4.972-4.972-2.747 0-4.972 2.225-4.972 4.972 0 2.745 2.225 4.972 4.972 4.972z', fill-rule='evenodd')

    symbol#cancel-icon(viewbox='0 0 13 13')
      path(d='M5.274 6.5L.614 1.84 0 1.225 1.226 0l.613.613 4.66 4.66 4.66-4.66.614-.613L13 1.226l-.613.613-4.66 4.66 4.66 4.66.613.614L11.774 13l-.613-.613-4.66-4.66-4.66 4.66-.614.613L0 11.774l.613-.613', fill-rule='evenodd')

    symbol#github-icon(viewbox='0 0 40 39')
      path#Shape(d='M19.998,0 C8.955,0 0,8.954 0,20 C0,28.837 5.73,36.333 13.678,38.977 C14.678,39.161 15.043,38.544 15.043,38.013 C15.043,37.538 15.026,36.281 15.016,34.613 C9.453,35.82 8.28,31.93 8.28,31.93 C7.37,29.62 6.058,29.005 6.058,29.005 C4.242,27.765 6.195,27.79 6.195,27.79 C8.203,27.93 9.259,29.85 9.259,29.85 C11.042,32.907 13.939,32.024 15.079,31.512 C15.259,30.222 15.777,29.339 16.349,28.839 C11.907,28.334 7.239,26.617 7.239,18.954 C7.239,16.771 8.019,14.984 9.297,13.587 C9.091,13.081 8.404,11.047 9.493,8.294 C9.493,8.294 11.173,7.756 14.993,10.344 C16.624924,9.89926425 18.308563,9.672627 20,9.67 C21.7,9.68 23.41,9.9 25.008,10.345 C28.826,7.757 30.502,8.295 30.502,8.295 C31.592,11.048 30.907,13.082 30.702,13.588 C31.984,14.985 32.757,16.772 32.757,18.955 C32.757,26.638 28.081,28.329 23.627,28.823 C24.343,29.441 24.983,30.661 24.983,32.526 C24.983,35.201 24.958,37.358 24.958,38.013 C24.958,38.549 25.318,39.171 26.334,38.976 C34.274,36.326 40,28.836 40,20 C40,8.955 31.045,0 19.998,0')
