nav.cm-navigation
  .cm-navigation__brands
    .cm-navigation__brands--algolia
      a#algoliaLogo(href='https://algolia.com')
        img(src="images/logo-algolia.svg", width="100", alt="Algolia logo")
    .cm-navigation__brands--community
      a.cm-badge.no-mobile(href='https://community.algolia.com', title='Click to go to community, hover to access latest community projects')
        img(src="images/logo-community.svg")
        |  <span>Community</span>
    .cm-navigation__brands--project
      a(href="") React InstantSearch
    .cm-navigation__dropdown-holder
      .cm-navigation__brands-dropdown
        .cm-navigation__brands-dropdown__container
          div(data-inject-community='')
        .cm-navigation__brands-dropdown__footer
          a(href="https://community.algolia.com")
            img(src="https://res.cloudinary.com/hilnmyskv/image/upload/v1484219849/algolia-community-logo-words.svg", class="community-logo")
  .cm-navigation__menu-mobile-trigger
    button#open-menu
      img(src="images/menu-icon.svg")
  .cm-navigation__menu
    .cm-menu__search
      .cm-menu__search--holder
        .cm-search__input
          input#searchbox(placeholder='Search something..', type='search')
          button#search
            svg
              use(xlink:href='#search-icon')
          button#cancel
            svg
              use(xlink:href='#cancel-icon')
    ul.cm-menu__list
      li.cm-menu__list__item(class=h.maybeActive(navPath, "Getting_started.html"))
        a(href="Getting_started.html", data-link = 'true') Getting started
      li.cm-menu__list__item(class=h.maybeActive(navPath, "guide/"))
        a(href="guide/", data-link = 'true') Guide
      li.cm-menu__list__item(class=h.maybeActive(navPath, ["widgets/", ["connectors/"]]))
        a(aria-controls='dropdown-1', aria-expanded='false', data-toggle-dropdown='dropdown-1', class="dropdown-toggler") API <span class="glyph">&#x25BC;</span>
        ul#dropdown-1.simple-dropdown(role='tree', tabindex='-1')
          li
            a(href="widgets/InstantSearch.html", role='treeitem', data-link = 'true') #{'<InstantSearch>'}
          li
            a(href="widgets/", role='treeitem', data-link = 'true') Widgets
          li
            a(href="connectors/", role='treeitem', data-link = 'true') Connectors
      li.cm-menu__list__item(class=h.maybeActive(navPath, "examples/"))
        a(aria-controls='dropdown-2', aria-expanded='false', data-toggle-dropdown='dropdown-2', class="dropdown-toggler") Examples <span class="glyph">&#x25BC;</span>
        ul#dropdown-2.simple-dropdown(role='tree', tabindex='-1')
          li
            a(href="examples/Demos.html", role='treeitem', data-link = 'true') Demos
          li
            a(href="examples/Recipes.html", role='treeitem', data-link = 'true') Recipes

      li.cm-menu__list__item
        a(href='https://github.com/algolia/instantsearch.js/tree/v2', data-link = 'true')
          figure.github-icon
            svg(width='40px', height='39px')
              use(xlink:href='#github-icon')
            figcaption
              | GitHub
