{{#function name="%s"}}
{{tableHead params "name|Param" "description|Description" ~}}
{{#tableRow params "name" "type" "defaultvalue" "description" ~}}
| {{#if optional}}<span class='attr-optional'>{{else}}<span class='attr-required'>{{/if}}`{{name}}`</span><span class="attr-infos">{{#unless (equal defaultvalue undefined)}}Default:<code class="attr-default">{{defaultvalue}}</code><br />{{/unless}}Type: {{>linked-type-list types=type.names delimiter=" &#124; " }}</span> | {{{stripNewlines (inlineLinks description)}}} |
{{/tableRow}}
{{/function}}

<p class="attr-legend">* <span>Required</span></p>
