// Add here your javascript code

var search = instantsearch({
  // Replace with your own values
  appId: '{{appId}}',
  apiKey: '{{apiKey}}', // search only API key, no ADMIN key
  indexName: '{{indexName}}',
  urlSync: true
});

// initialize SearchBox
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-box',
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    {{#if attributeName}}
    templates: {
      item: '<div class="hit">\{{{_highlightResult.{{attributeName}}.value}}}</div>'
    }
    {{/if}}
  })
);

search.start();
