<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@{{libVersion}}/dist/instantsearch.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@{{libVersion}}/dist/instantsearch-theme-algolia.min.css">
    <link rel="stylesheet" type="text/css" href="main.css">
    <title>{{name}}</title>
  </head>
  <body>
    <div class="topbar">
      <a href="/" class="title">{{name}} powered by InstantSearch.js</a>
    </div>

    <div class="wrapper">
      <div class="left">
        <div id="current-refined-values">
          <!-- CurrentRefinedValues widget will appear here -->
        </div>

        <div id="clear-all">
          <!-- ClearAll widget will appear here -->
        </div>

        <div id="refinement-list">
          <!-- RefinementList widget will appear here -->
        </div>
      </div>

      <div class="right">
        <div id="search-box">
          <!-- SearchBox widget will appear here -->
        </div>

        <div id="hits">
          <!-- Hits widget will appear here -->
        </div>

        <div id="pagination">
          <!-- Pagination widget will appear here -->
        </div>
      </div>
    </div>

    <!-- js -->
    <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@{{libVersion}}/dist/instantsearch.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>
