import React, { Component } from 'react';
import {
  InstantSearch,
  Hits,
  SearchBox,
  {{#if attributesForFaceting}}
  RefinementList,
  {{/if}}
  Pagination,
  {{#if mainAttribute}}
  Highlight,
  {{/if}}
} from 'react-instantsearch/dom';
import PropTypes from 'prop-types';
import './App.css';

class App extends Component {
  render() {
    return (
      <div>
        <header className="header">
          <h1 className="header-title">
            <a href="/">{{name}}</a>
          </h1>
          <p className="header-subtitle">
            using{' '}
            <a href="https://github.com/algolia/react-instantsearch">
              React InstantSearch
            </a>
          </p>
        </header>

        <div className="container">
          <InstantSearch
            appId="{{appId}}"
            apiKey="{{apiKey}}"
            indexName="{{indexName}}"
          >
            <div className="container-app">
              <div className="filters">
                {{#each attributesForFaceting}}
                <RefinementList attribute="{{this}}" />
                {{/each}}
              </div>

              <div className="search-container">
                <SearchBox className="searchBox" placeholder="{{searchPlaceholder}}" />
                <Hits hitComponent={Hit} />

                <div className="pagination">
                  <Pagination />
                </div>
              </div>
            </div>
          </InstantSearch>
        </div>
      </div>
    );
  }
}

function Hit(props) {
  return (
    <div>
      {{#if mainAttribute}}
      <Highlight attribute="{{mainAttribute}}" hit={props.hit} />
      {{else}}
      <code>{JSON.stringify(props.hit)}</code>
      {{/if}}
    </div>
  );
}

Hit.propTypes = {
  hit: PropTypes.object.isRequired,
};

export default App;
