import algoliasearch from 'algoliasearch';
import algoliasearchHelper from 'algoliasearch-helper';

const client = algoliasearch('{{appId}}', '{{apiKey}}');
const helper = algoliasearchHelper(client, '{{indexName}}');

const $searchBox = document.querySelector('#searchBox input[type=search]');
const $hits = document.querySelector('#hits');

$searchBox.addEventListener('input', event => {
  const query = event.target.value;

  helper.setQuery(query).search();
});

helper.on('result', result => {
  // Please sanitize user-provided data when using `innerHTML` to avoid XSS
  $hits.innerHTML = `
    <ul class="ais-hits">
      ${result.hits
        .map(hit => `<li class="ais-hits--item">{{#if mainAttribute}}${hit._highlightResult.{{mainAttribute}}.value}{{else}}${JSON.stringify(hit)}{{/if}}</li>`)
        .join('')}
    </ul>`;
});

helper.search();
