mixin nav(currentPath, nav)
  ul
    for navItem in nav
      - var className = navItem.path === currentPath ? 'navItem--active' : 'navItem';
      li(class=className)
        a(href=h.publicPath(navItem.path))=navItem.file.title
        if(navItem.children.length > 0) 
          nav(currentPath, navItem.children)

doctype html
html
  head
    meta(content='IE=edge', http-equiv='X-UA-Compatible')
    meta(charset='utf-8')
    meta(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name='viewport')
    link(rel='icon', href=h.publicPath('assets/favicon.png'))
    meta(content='IE=edge,chrome=1', http-equiv='X-UA-Compatible')
    title react-instantsearch | #{title}
    link(rel='stylesheet', href=h.publicPath('assets/css/theme.css'))
    link(rel='stylesheet', href=h.publicPath('assets/css/site.css'))
    link(rel='stylesheet', href=h.publicPath('assets/css/DocProps.css'))
  body
    .navigation
      .nav.core
        +nav(nav_path, navs.core)
      .nav.widgets
        +nav(nav_path, navs.widgets)
      .nav.headings
        ul
          for heading in headings
            - var headingType = heading.type === 'h2' ? 'title' : 'subtitle';
            li(class=headingType)
              a(href=heading.id)=heading.text
    .content!=contents
    script(src=webpack.assets['assets/js/api.js'])
