extends archetypes/content-with-menu.pug

include mixins/nav.pug

include mixins/documentationjs/description.pug
include mixins/documentationjs/type.pug
include mixins/documentationjs/struct.pug
include mixins/documentationjs/connector-usage.pug

block navigation
  +nav(navPath, navigation, mainTitle || title, withHeadings && headings || [])

block content
  h2#description Description
    a.anchor(href=`${navPath}#description`)
  p
    +description(jsdoc.description)
  h2#usage Usage
  +connectorUsage(jsdoc)
  h2#signature Signature
    h3#parameters Parameters
      a.anchor(href=`${navPath}#parameters`)
    table.api.proptypes
      tbody
        each p in jsdoc.params
          tr.api-entry-values
            td.api-entry-name
              div.api-entry(id=`param-${name}-${p.name}`)=p.name
                a.anchor(href=`${navPath}#param-${name}-${p.name}`)
            td.api-entry-type
              code
                +type(p.type)
          tr.api-entry-description
            td(colspan=2)
              +description(p.description)
    h3#result Returned value
      a.anchor(href=`${navPath}#return`)
    table.api.proptypes
      tbody
        each r in jsdoc.returns
          tr.api-entry-values
            td.api-entry-type
              code
                +type(r.type)
          tr.api-entry-description
            td
              +description(r.description)
  h2#structure Options details
    a.anchor(href=`${navPath}#return`)
  each t in jsdoc.relatedTypes
    if t
      +struct(t)
  if jsdoc.examples
    h2#example Example
      a.anchor(href=`${navPath}#example`)
    each example in jsdoc.examples
      p!=h.highlight(example.description)
