extends archetypes/single-column-formatted.pug

block content
  .content!=contents

  - var values = []
  if examples
      - values = examples
  div(class="examples-container flex-container flex-dir-row pos-rel z-10")
    each val in values
      div.flex-it-2.p-large
        div.example-tile.elevation1.radius6.text-center.p-large.pos-rel
          h2.inline.p-t-large=val.title
          figure
            img(src=`${examplesEndpoint}/${val.id}/capture.png`)
            figcaption
              a(href=`${examplesEndpoint}/${val.id}/`)=examplesCTA
              a(href=`${examplesEndpoint}/${val.id}.zip`) Download
