extends archetypes/single-column-formatted.pug

block content
  .content!=contents

  - var values = []
  if examples
      - values = examples
  div.examples-container.flex-container.flex-dir-row
    each val in values
      div.flex-it-2.p-small
        h4=val.title
        div.fill-white.elevation1.radius6
          div.links
            a.color-white.text-lg(href=`${val.demoUrl}`) View demo
            span &nbsp;|&nbsp;
            a.color-white.text-lg(href=`${val.sourceCodeUrl}`) View source code
          img.m100p(src=`images/examples/${val.id}.png`)