extends archetypes/single-column-formatted.pug

block content
  .content!=contents

  - var values = []
  if examples
      - values = examples
  div(class="examples-container")
    each val in values
      div.example-tile
         a(href=`${examplesEndpoint}/${val}`)
          figure
            img(src=`images/examples/${val}.png`)
            figcaption #{val}
