extends archetypes/content-with-menu.pug

include mixins/nav.pug

block navigation
  +nav(navPath, navigation, mainTitle || title, withHeadings && headings || [])

block content
  h2#description Description
    a.anchor(href=`${navPath}#description`)
  div!=h.markdown(description)
  h2#proptypes Params
    a.anchor(href=`${navPath}#proptypes`)    
  if params
    table.api.params
      tbody
        each type in params
          tr.api-entry-values
            td.api-entry-name
              div.api-entry(id=`default-props-entry-${name}-${type.name}`)
                =`${type.name}${type.isRequired ? '*' : ''}`
                a.anchor(href=`${navPath}#default-props-entry-${name}-${type.name}`)
            td.api-entry-type
              span type:
              = ' '
              code=type.type.names
            td.api-entry-default-value
              if type.defaultValue
                span default:
                = ' '
                code=type.defaultValue
              else
                span &nbsp;
          tr.api-entry-description
            td(colspan=3)!=h.markdown(type.description)
  else
    p This function has no params.
  h2#proptypes Returns
    a.anchor(href=`${navPath}#proptypes`)       
  if returns
    table.api.returns
      tbody
        each type in returns
          tr.api-entry-values
            td.api-entry-type
              span type:
              = ' '
              code=type.type.names
          tr.api-entry-description
            td(colspan=3)!=h.markdown(type.description)
  else
    p This function returns nothing. 
  if requirements
    h2#requirements Requirements
      a.anchor(href=`${navPath}#requirements`)
    div!=h.markdown(requirements)
  if operations
    h2#operations Operations
      a.anchor(href=`${navPath}#operations`)
    div!=h.markdown(operations)
  if examples
    h2#example Example usage
      a.anchor(href=`${navPath}#example`)
    each example in examples
      p!=h.highlight(example, {lang: 'jsx'})
 
