/* global algoliasearch instantsearch */

const searchClient = algoliasearch(
  '{{appId}}',
  '{{apiKey}}'
);

const search = instantsearch({
  indexName: '{{indexName}}',
  searchClient,
});

search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#searchbox',
    {{#if searchPlaceholder}}
    placeholder: '{{searchPlaceholder}}',
    {{/if}}
  })
);

search.addWidget(
  instantsearch.widgets.hits({
    container: '#hits',
    {{#if attributesToDisplay}}
    templates: {
      item: `
        <article>
          <h1>\{{#helpers.highlight}}{ "attribute": "{{attributesToDisplay.[0]}}" }\{{/helpers.highlight}}</h1>
          {{#each attributesToDisplay}}
          {{#unless @first}}
          <p>\{{#helpers.highlight}}{ "attribute": "{{this}}" }\{{/helpers.highlight}}</p>
          {{/unless}}
          {{/each}}
        </article>
      `,
    },
    {{/if}}
  })
);

{{#each attributesForFaceting}}
search.addWidget(
  instantsearch.widgets.refinementList({
    container: '#{{this}}-list',
    attribute: '{{this}}',
  })
);

{{/each}}
search.addWidget(
  instantsearch.widgets.pagination({
    container: '#pagination',
  })
);

search.start();
